@font-face {
    font-family: Pokemon Solid;
    src: url(Pokemon_Solid.ttf);
	}

.col-md-2 {
	height: 10em;
	width: 10em;
	background-color: blue;
	color: black;
	padding: 1em;
	margin: 1em;
	border-radius: 1em;

}

.col-md-2 p {
	font-size: 5em;
	text-align: center;
	color: white;
}

@media(max-width:1180px) {
	.col-md-2 {
		height:10%;
		width:10%;
	}
	p {
		font-size:2em;
	}
}

.page-header p
{
	display: inline;
	font-family: Pokemon Solid;
	font-size: 3em;
	padding: 50px;
  color: gold;
  text-shadow:
   -1px -1px 0 #00F,
    1px -1px 0 #00F,
    -1px 1px 0 #00F,
     1px 1px 0 #00F;
	font-weight: bolder;
}

footer
{
	margin: 20px;
}
footer li
{
		display: inline;
		padding: 20px;
		color: blue;
}

footer ul
{
	text-align: center;
}
