@font-face {
    font-family: Pokemon Solid;
    src: url(images/Pokemon_Solid.ttf);
	}

.col-md-2 {
	height: 10em;
	width: 10em;
	background-color: black;
	color: black;
	padding: 1em;
	margin: 1em;
	border-radius: 1em;

}

.col-md-2 p {
	font-size: 2em;
	text-align: center;
	color: white;
}



.page-header p
{
	display: inline;
	font-family: Pokemon Solid;
	font-size: 3em;
	padding: 50px;
  color: gold;
  text-shadow:
   -1px -1px 0 #00F,
    1px -1px 0 #00F,
    -1px 1px 0 #00F,
     1px 1px 0 #00F;
	font-weight: bolder;

}

footer
{
	margin: 20px;
}
footer li
{
		display: inline;
		padding: 20px;
		color: blue;
}

footer ul
{
	text-align: center;
}

#theatreImage {
	width: 1005px;
	height: 400px;
}
#background {
  background: url(https://scontent.xx.fbcdn.net/t31.0-0/p180x540/13667729_10154334279755842_4236254203957273049_o.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#pokemonImg {
	height:20%;
	width:20%;
}

.container {
	border: 5px solid black;
	border-radius:10px;
}

h4 {
	font-weight:normal;
}

.seat {
	height:100%;
	width:100%;
}

p {
	position:absolute;
	text-align:center;
	padding-left:40%;
	padding-top: 10%;
}
h1, h4 {
	color: gold;
	text-shadow: -1px -1px 0 #00F, 1px -1px 0 #00F, -1px 1px 0 #00F, 1px 1px 0 #00F;
}
